{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "project": "./tsconfig.json"
  },
  "extends": ["eslint-config-tiu", "next", "next/core-web-vitals"],

  "ignorePatterns": ["types.ts", "*.js"]
}
