@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply font-medium underline text-accent hover:text-accent-dark;
  }

  .heading {
    font-size: clamp(40px, 8vw, 70px);
    line-height: 1.1em;
    @apply font-bold;
  }

  .button {
    @apply px-4 py-3 font-medium text-white transition-all rounded bg-accent hover:bg-accent-light;
  }

  .button-secondary {
    @apply px-4 py-3 font-medium text-white rounded-sm bg-accent;
  }

  .nav {
    backdrop-filter: blur(6px);
    @apply z-10;
  }

  .input {
    @apply block w-full px-4 py-3 text-gray-900 bg-white rounded-md shadow-sm focus:ring-gray-500 focus:ring-2 focus:outline-none dark:bg-gray-900 dark:text-gray-100;
  }

  .label {
    @apply block text-sm text-gray-500;
  }

  .footer {
    @apply max-w-[1200px] flex-1 flex justify-between items-center;
  }
}

/* .dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  --tw-bg-opacity: 1;
  -webkit-box-shadow: 0 0 0 30px rgba(24, 24, 27, var(--tw-bg-opacity)) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}

html {
  scroll-behavior: smooth;
}

.prose .blog-heading {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .toc-link {
  text-decoration: none;
  @apply font-normal text-gray-700;
}

.prose .toc-link.active {
  @apply font-bold;
}

.prose .toc-link:hover {
  @apply text-gray-900;
}

.blog-heading:hover {
  @apply visible no-underline;
}

.prose .blog-heading:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .blog-heading {
  @apply visible no-underline;
}

.active {
  @apply font-bold;
}

/**
 * Pmndrs theme for JavaScript, CSS and HTML
 * Loosely based on https://marketplace.visualstudio.com/items?itemName=pmndrs.pmndrs
 * @author Paul Henschel
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #e4f0fb;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1.75em;
  margin: 1.5em 0;
  overflow: auto;
  @apply rounded;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #252b37;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
  @apply rounded;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #a6accd;
}

.token.punctuation {
  color: #e4f0fb;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e4f0fb;
}

.token.boolean,
.token.number {
  color: #5de4c7;
}

.token.selector,
.token.attr-value,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #5de4c7;
}

.token.attr-name,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #add7ff;
}

.token.atrule,
.token.function,
.token.class-name {
  color: #5de4c7;
}

.token.keyword {
  color: #add7ff;
}

.token.regex,
.token.important {
  color: #fffac2;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
