@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply font-medium underline text-accent hover:text-accent-dark;
  }

  .heading {
    font-size: clamp(40px, 8vw, 70px);
    line-height: 1.1em;
    @apply font-bold;
  }

  .button {
    @apply px-4 py-3 font-medium text-white transition-all rounded bg-accent hover:bg-accent-light;
  }

  .button-secondary {
    @apply px-4 py-3 font-medium text-white rounded-sm bg-accent;
  }

  .nav {
    backdrop-filter: blur(6px);
    @apply z-10;
  }
}

.socials-line::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  @apply bg-black dark:bg-white;
}
